body {
    margin: 0;
}

a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    transition: .5s;
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav{
    display: inline;
    margin-left: 580px;
}
.nav .home{
    margin-right: 10px;
    padding: 6px 20px;
}
.nav .shop{
    margin-right: 10px;
    padding: 6px 20px;
}.nav .about{
    margin-right: 10px;
    padding: 6px 20px;
}
.nav .contact{
    margin-right: 10px;
    padding: 6px 20px;
}
.nav .cart{
    margin-left: 300px;
    padding: 6px 20px;
}
.nav .login{
    padding: 6px 20px;
}
.home:hover {
    background-color: #00bf63;
    padding: auto;
    border-radius: 15px;
}
.shop:hover {
    background-color: #00bf63;
    padding: auto;
    border-radius: 15px;
}
.about:hover {
    background-color: #00bf63;
    padding: auto;
    border-radius: 15px;
}
.contact:hover {
    background-color: #00bf63;
    padding: auto;
    border-radius: 15px;
}
.cart:hover {
    background-color: #00bf63;
    padding: auto;
    border-radius: 15px;
}
.login:hover {
    background-color: #00bf63;
    padding: auto;
    border-radius: 15px;
}
